{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify mezzanine_tags %}

{% block content %}


<div id="content-main">
<form method="post" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} action="">
    {% csrf_token %}
    <div>
        <fieldset class="module aligned ">
        {{ form.as_p }}
            </fieldset>
    </div>
        <div>
            <input class="default" type="submit"
                value="{% if page.form.button_text %}{{ page.form.button_text }}{% else %}{% trans "Submit" %}{% endif %}">
            <input type="button" class='cancellink' href="#" onClick="javascript:history.go(-1);" value="Cancel">
        </div>
</form>
    <!--Your call id is {{ callid }} <br><br>-->
    <!--Message is {{ recording_url }} <br><br>-->

  <!--<form action="" method="POST">-->
    <!--{% csrf_token %}-->

    <!--<p>-->
        <!--<input type="hidden" name="caller" value="{{ caller_num }}">-->
        <!--<input type="hidden" name="recipient" value="{{ recipient }}">-->

      <!--<input value="Yes" class="default" name="_yes" type="submit">-->
  <!--&lt;!&ndash;<input type="button" class="default" value="YES" title="Make a phone call using xoxzo api" href="#" onclick="rest();return false;">&nbsp;&ndash;&gt;-->
  <!--<input type="button" class='cancellink' href="#" onClick="javascript:history.go(-1);" value="No">-->
<!--</p>-->

  <!--</form>-->



</div>

{% endblock %}